{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
      {% block title %}
      {% endblock %}
    </title>

    <meta name="description" content="Matrix rooms and their detailed statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href='{% static "css/main.css" %}'>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103796347-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-103796347-2');
    </script>

    <script src='{% static "vendor/Chart.bundle.min.js" %}' type="text/javascript" ></script>
    {% block additional_imports %}
    {% endblock additional_imports %}

  </head>

  <body itemscope itemtype="http://schema.org/WebPage">

    <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div class="nav-header noselect">Matrix Stats</div>
      <div class="nav-links">
        <a itemprop="url" href="/">Home</a>
        <a itemprop="url" href="{% url 'ratings' %}">Ratings</a>
        <a itemprop="url" href="{% url 'categories' %}">Categories</a>
        <a itemprop="url" href="{% url 'tags' %}">Tags</a>
        <a itemprop="url" href="{% url 'about' %}">About</a>
      </div>
    </nav>

    <div class="content-container">
      {% block content %}
      {% endblock content %}
    </div>

    <script src='{% static "js/main.js" %}' type="text/javascript"></script>

  </body>

</html>
