{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
      {% block title %}
      {% endblock %}
    </title>

    <meta name="description" content="Matrix rooms and their detailed statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href='{% static "css/main.css" %}'>

    <script src='{% static "vendor/Chart.bundle.min.js" %}' type="text/javascript" ></script>
    {% block additional_imports %}
    {% endblock additional_imports %}

  </head>

  <body itemscope itemtype="http://schema.org/WebPage">

    <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <div class="nav-header">Matrix Stats</div>
      <div class="nav-links">
        <a itemprop="url" href="/">Home</a>
        <a itemprop="url" href="/page1/">Ratings</a>
        <a itemprop="url" href="/page2/">Categories</a>
        <a itemprop="url" href="{% url 'tags' %}">Tags</a>
        <a itemprop="url" href="/page2/">About</a>
      </div>
    </nav>

    <div class="content-container">
      {% block content %}
      {% endblock content %}
    </div>

    <script src='{% static "js/main.js" %}' type="text/javascript"></script>

  </body>

</html>
