{% extends 'room_stats/base.html' %}
{% load staticfiles %}
{% load custom_filters %}

{% block additional_imports %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/datatables.min.css' %}"/>
  <script type="text/javascript" src="{% static 'vendor/datatables/datatables.min.js' %}"></script>

  <script>
    $(document).ready(function() {
      $('#homeservers').DataTable({
        paging: false,
        info: false,
        aaSorting: [[1, 'desc']]
      });
    });
  </script>
{% endblock %}

{% block title %}
    Matrix Homeservers
{% endblock %}

{% block content %}
  <h1>Matrix Homeservers</h1>
  The page is under development. There are some raw info:

  <table id="homeservers" class="table" width="100%" style="border-collapse: collapse !important;">
    <thead>
      <tr>
        <th>Homeserver</th>
        <th>Rooms</th>
        <th>Status</th>
        <th class='text-center'>Sync</th>
        <th class='text-center'>Last sync</th>
        {% for date in dates %}
        <th class='text-center'>{{ date }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for server in servers %}
    <tr>
      <td>
        <a class="homeserver-badge" href="{% url 'rooms-by-homeserver' homeserver=server.hostname %}">
          <i class="fas fa-globe"></i>
          <span class="room-federation-label">{{ server.hostname}}</span>
        </a>
      </td>
      <td data-order="{{ server.owned }}">{{ server.room_disp }}</td>
      <td>{{ server | display_server_status  }}</td>
      {{ server | display_server_sync_state }}
      <td class='text-center'>{{ server | highlight_sync_delta }}</td>
      {% for date,stat in server.stats.items %}
        {{ stat | highlight_server_stats }}
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
