{% extends 'room_stats/base.html' %}
{% load staticfiles %}

{% block additional_imports %}
    <link rel="stylesheet" href='{% static "css/scroll_widget.css" %}'>
    <script src='{% static "vendor/iscroll.js" %}' type="text/javascript" ></script>
    <script src='{% static "js/scroll_widget.js" %}' type="text/javascript" ></script>
{% endblock %}

{% block title %}
  Matrix Stats: Index Page
{% endblock %}

{% block content %}
    <span>Welcome to Matrix Stats. There you can find some matrix rooms and their detailed statistics</span>

  {% with rooms=top link='/rooms/top' header='Top rooms' %}
    {% include "room_stats/widgets/scrollable_rooms_widget.html" %}
  {% endwith %}

  {% with rooms=random link='/rooms/random' header='Random rooms' %}
    {% include "room_stats/widgets/scrollable_rooms_widget.html" %}
  {% endwith %}

  {% with rooms=most_joinable link='/top/abs/monthly/' header='Most joinable for 30 days' %}
    {% include "room_stats/widgets/scrollable_rooms_widget.html" %}
  {% endwith %}

  {% with rooms=most_expanding link='/top/rel/monthly/' header='Becoming popular for 30 days' %}
    {% include "room_stats/widgets/scrollable_rooms_widget.html" %}
  {% endwith %}

  <section>
    <header>
      <h1>Matrix stats</h1>
    </header>
    <ul>

      <li>Top by members:
        <a href="/rooms/top">All</a>,
        <a href="/rooms/public">Public</a>
      </li>
      <li><a href="/rooms/random">Random</a></li>
      <li><a href="/rooms/cyrillic">Cyrillic</a></li>
      <br>
      <li>New rooms:
        <a href="{% url 'new-1d' %}">1d</a>,
        <a href="{% url 'new-3d' %}">3d</a>,
        <a href="{% url 'new-weekly' %}">weekly</a>
      </li>

      <li>Top absolute:
        <a href="{% url 'top-abs-weekly' %}">weekly</a>,
        <a href="{% url 'top-abs-monthly' %}">monthly</a>
      </li>
      <li>Top relative:
        <a href="{% url 'top-rel-weekly' %}">weekly</a>,
        <a href="{% url 'top-rel-monthly' %}">monthly</a>
      </li>
      <br>
      <li><a href="/rooms/tags">Tags</a></li>
      <li>
        <input placeholder="Search" id="search_term" />
        <input type="submit" value="Search" onclick="search_by_term();" />
      </li>
    </ul>
  </section>

  <section>
    <div class="category-block">
      <div class="category-header">Categories</div>
      {% for category in categories %}
      <a class="category-item"
        draggable="false"
        style="background-image: url('/static/{{ category.image.name }}');"
        href="/category/{{ category.name }}"><span class="noselect">{{ category.name }}</span></a>
      {% endfor %}
    </div>
  </section>


  <!-- Development in progress :) -->

  <script>
  (function() {
    InitScrollWidget();
  })();
  </script>
{% endblock content %}

