{% extends 'room_stats/base.html' %}
{% load staticfiles %}
{% load custom_filters %}

{% block additional_imports %}
  <script src="{% static 'vendor/infinite-scroll.pkgd.min.js' %}"></script>
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content_class %}rlist{% endblock %}

{% block content %}

  {% if header %}
    <h1 class="rlist-header">{{ header }}</h1>
  {% endif %}

  <div class="rlist-infinite">

  {% for room in rooms %}
  <div class="rlist-item">
      <div class="rlist-item-top">
        <a class="rlist-item-logo" href="{% url 'room-stats' room_id=room.id %}">
        {% if room.avatar_url %}
          <img src="https://matrix.org/_matrix/media/r0/thumbnail/{{ room.avatar_url | slice:'6:' }}?width=128&height=128"/>
        {% else %}
          <img src="{% static 'img/no-logo.png' %}"/>
        {% endif %}
        </a>
        <a class="rlist-item-header" href="{% url 'room-stats' room_id=room.id %}">
          {{ room.get_short_name }}
          <span class="rlist-item-header-badge">{{ room.members_count }}</span>
        </a>
      </div>
      <div class="rlist-item-content">
        {% if room.topic %}
          {{ room.topic }}
        {% else %}
          <span class="blur">There is no topic available. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis augue quis velit hendrerit volutpat. Maecenas imperdiet augue libero, laoreet malesuada massa dignissim a. Pellentesque sit amet turpis non lacus auctor ultricies in eget odio.No topic available</span>
        {% endif %}
      </div>
  </div>
  {% endfor %}

  </div>

  {% if rooms.has_other_pages %}
    <div class="rlist-pagination">
      {% if rooms.has_previous %}
        <a class="pagination__prev rlist-pagination-link" href="?page={{ rooms.previous_page_number }}">&laquo;</a>
      {% endif %}

        <a class="active"><span class="pagination__current">{{ rooms.number }}</span> / {{ rooms.paginator.num_pages}}</a>

      {% if rooms.has_next %}
        <a class="pagination__next rlist-pagination-link" href="?page={{ rooms.next_page_number }}">&raquo;</a>
      {% endif %}
    </div>

  {% elif random_rooms_rating %}
    <div class="rlist-pagination">
      <a class="pagination__next rlist-pagination-link" href="?page=0" style="width: 100px;">Load more</a>
    </div>
  {% endif %}

{% endblock content %}
