{% extends 'room_stats/base.html' %}
{% load custom_filters %}

{% block content %}

<div class="room-details-container">
  <div class="room-details-logo">
  {% if room.avatar_url %}
    <img src="https://matrix.org/_matrix/media/r0/thumbnail/{{ room.avatar_url | slice:'6:' }}?width=128&height=128" />
  {% endif %}
  </div>
  <div class="room-details-main">
    <div class="room-details-header">{{ room.name }}</div>
    <div class="room-details-topic">
      {% if room.topic %}
        {{ room.topic | format_lines | linebreaks | urlize }}
      {% else %}
        <i>No description is provided</i>
      {% endif %}
    </div>
    <div class="room-details-aliases">{{ room.aliases }}</div>
  </div>

  <div class="room-details-links">
    <div class="room-details-embers-count">Members count:<br>{{ room.members_count }}</div>
    <div class="room-details-embers-count">Weekly change:<br>{{ room.members_count }}</div>
    <div class="room-details-embers-count">Monthly change:<br>{{ room.members_count }}</div>
  </div>

  <div class="room-details-buttons">
    <div>Open in riot</div>
    <div>Preview</div>
  </div>

</div>

  <div class="room-stats-container">
    <h1>{{ room.name }}</h1>
    <div class="room-topic">
      {% if room.topic %}
        {{ room.topic }}
      {% else %}
        <i>No description is provided</i>
      {% endif %}
    </div>
    <div class="room-aliases">{{ room.aliases }}</div>

    <div class="room-links">
      <a href="https://riot.im/app/#/room/{{ room.id }}" target="blank">
        open in Riot
      </a>
      {% if room.is_public_readable %}
        &nbsp;
        <a href="https://view.matrix.org/room/{{ room.id }}/" target="blank">
          Preview
        </a>
      {% endif %}
    </div>
  </div>

  <div class="room-graph">
    <canvas id="dailyVisitorsChart" ></canvas>
  </div>

  <!-- <div style="height:200px; width:300px;"> -->
  <script>
    var ctx = document.getElementById("dailyVisitorsChart").getContext("2d");
    var labels = {{ labels | safe }};
    var cfg = {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: "Members total",
          data: {{ points | safe }},
          type: 'line',
          pointRadius: 1,
          fill: false,
          lineTension: 0,
          borderWidth: 2,
          borderColor: 'green',
        }]
      },
      options: {
        scales: {
          xAxes: [{
            type: 'category',
            /* distribution: 'series',*/
            ticks: {
              source: 'labels',
            }
          }],
          yAxes: [{
            scaleLabel: {
              display: true,
              type: 'linear',
              /* labelString: 'Members',*/
            },
            ticks: {
              userCallback: function(label, index, labels) {
                if (Math.floor(label) === label) {
                  return label;
                }
              },
            }
          }]
        }
      }
    };
    var chart = new Chart(ctx, cfg);
  </script>

{% endblock content %}
