{% extends 'room_stats/base.html' %}
{% load staticfiles %}
{% load custom_filters %}

{% block additional_imports %}
  <script src='https://www.google.com/recaptcha/api.js'></script>

  <script src='{% static "vendor/d3.v4.min.js" %}'></script>
  <script src='{% static "vendor/dimple.v2.3.0.min.js" %}'></script>

  {% if admin %}
    {% include 'admin/imports.html' %}
  {% endif %}

{% endblock %}

{% block title %}
  Matrix Room: {{ room.name }}
{% endblock %}

{% block content %}

<div class="room-details-container" itemscope itemtype="https://schema.org/Conversation">

  <div class="room-details-logo">
    <img src="{{ room.get_logo_url }}" itemprop="image" />
  </div>

  <div class="room-details-main">
    <div class="room-details-header" itemprop="name">{{ room.name }}</div>
    <div class="room-details-topic" itemprop="description">
      {% if room.topic %}
        {{ room.topic | format_lines | linebreaks | urlize }}
      {% else %}
        <i>No description is provided</i>
      {% endif %}
    </div>

    <meta itemprop="alternateName" value="{{ room.id }}" />
    <div class="room-details-aliases" itemprop="alternateName">{{ room.aliases }}</div>
  </div>

  <div class="room-details-buttons">
    <a href="https://riot.im/app/#/room/{{ room.id }}" target="blank" itemprop="sameAs">
      <img src="{% static 'img/icon-riot.png' %}"/>
      open in Riot
    </a>
    <a href="#" data-id="{{ room.id }}" onclick="copy_room_id(this)">
      <img src="{% static 'img/icon-copy.png' %}"/>
      copy room id
    </a>
    {% if room.is_public_readable %}
      <a href="https://view.matrix.org/room/{{ room.id }}/" target="blank" itemprop="sameAs">
        <img src="{% static 'img/icon-preview.png' %}"/>
        Preview
      </a>
    {% endif %}

      {% if promotion_available %}
        <a href="#" onclick="open_modal()">
          <img src="{% static 'img/icon-promotion.png' %}"/>
          Promote
        </a>
      {% elif promotion_reason %}
        <span class="promo-status noselect" title="promotion status"><img src="{% static 'img/icon-promotion.png' %}"/>
          {{ promotion_reason }}
        </span>
      {% else %}
        {# Room is too big, don't display anything #}
      {% endif %}

  </div>

  <div class="room-details-links">
    <div class="room-details-members-count">Members count:<br>{{ room.members_count }}</div>
    <div class="room-details-members-count">Monthly change:<br>
      <span class="{% if members_monthly_diff > 0 %}positive{% elif members_monthly_diff < 0 %}negative{% endif %}">
        {% if members_monthly_diff == 0 %}—{% else %}
        {{ members_monthly_diff | stringformat:"+d" }}{% endif %}
      </span>
    </div>
    <div class="room-details-members-count">Weekly change:<br>
      <span class="{% if members_weekly_diff > 0 %}positive{% elif members_weekly_diff < 0 %}negative{% endif %}">
        {% if members_weekly_diff == 0 %}—{% else %}
        {{ members_weekly_diff | stringformat:"+d" }}{% endif %}
      </span>
    </div>
  </div>


</div>

  {% if admin %}
    <div style="margin-left: 20px;">
      {% include 'admin/widgets/categories_widget.html' %}
    </div>
  {% endif %}

  <div class="room-graph" data-room-id="{{ room.id }}">
  </div>

  {% include 'room_stats/widgets/modal_promote_room.html' %}

{% endblock content %}

