{% extends 'room_stats/base.html' %}
{% load custom_filters %}

{% block title %}
  Matrix Room: {{ room.name }}
{% endblock %}

{% block content %}

<div class="room-details-container" itemscope itemtype="https://schema.org/Conversation">

  <div class="room-details-logo">
    {% if room.avatar_url %}
      <img src="https://matrix.org/_matrix/media/r0/thumbnail/{{ room.avatar_url | slice:'6:' }}?width=128&height=128" itemprop="image" />
    {% endif %}
  </div>

  <div class="room-details-main">
    <div class="room-details-header" itemprop="name">{{ room.name }}</div>
    <div class="room-details-topic" itemprop="description">
      {% if room.topic %}
        {{ room.topic | format_lines | linebreaks | urlize }}
      {% else %}
        <i>No description is provided</i>
      {% endif %}
    </div>

    <meta itemprop="alternateName" value="{{ room.id }}" />
    <div class="room-details-aliases" itemprop="alternateName">{{ room.aliases }}</div>
  </div>

  <div class="room-details-buttons">
    <a href="https://riot.im/app/#/room/{{ room.id }}" target="blank" itemprop="sameAs">
      open in Riot
    </a>
    {% if room.is_public_readable %}
      <a href="https://view.matrix.org/room/{{ room.id }}/" target="blank" itemprop="sameAs">
        Preview
      </a>
    {% endif %}
  </div>

  <div class="room-details-links">
    <div class="room-details-members-count">Members count:<br>{{ room.members_count }}</div>
    <div class="room-details-members-count">Monthly change:<br>
      <span class="{% if members_monthly_diff > 0 %}positive{% elif members_monthly_diff < 0 %}negative{% endif %}">
        {% if members_monthly_diff == 0 %}—{% else %}
        {{ members_monthly_diff | stringformat:"+d" }}{% endif %}
      </span>
    </div>
    <div class="room-details-members-count">Weekly change:<br>
      <span class="{% if members_weekly_diff > 0 %}positive{% elif members_weekly_diff < 0 %}negative{% endif %}">
        {% if members_weekly_diff == 0 %}—{% else %}
        {{ members_weekly_diff | stringformat:"+d" }}{% endif %}
      </span>
    </div>
  </div>


</div>

  <div class="room-graph">
    <canvas id="dailyVisitorsChart" ></canvas>
  </div>

  <!-- <div style="height:200px; width:300px;"> -->
  <script>
    var ctx = document.getElementById("dailyVisitorsChart").getContext("2d");
    var labels = {{ labels | safe }};
    var cfg = {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: "Members total",
          data: {{ points | safe }},
          type: 'line',
          pointRadius: 1,
          fill: false,
          lineTension: 0,
          borderWidth: 2,
          borderColor: 'green',
        }]
      },
      options: {
        scales: {
          xAxes: [{
            type: 'category',
            /* distribution: 'series',*/
            ticks: {
              source: 'labels',
            }
          }],
          yAxes: [{
            scaleLabel: {
              display: true,
              type: 'linear',
              /* labelString: 'Members',*/
            },
            ticks: {
              userCallback: function(label, index, labels) {
                if (Math.floor(label) === label) {
                  return label;
                }
              },
            }
          }]
        }
      }
    };
    var chart = new Chart(ctx, cfg);
  </script>

{% endblock content %}
