{% extends 'room_stats/base.html' %}

{% block content %}
  {% for room in rooms %}
    {% url 'room-stats' room_id=room.id as room_url %}
    <div class="room-container {% if room.is_public_readable %}room-public{% endif %}" onclick="document.location='{{ room_url }}'">
      <a class="room-title" href="{% url 'room-stats' room_id=room.id %}">
        {{ room.name }}</a>

      <div class="room-description">
        <div class="room-desc">
          {% if room.topic %}
            {{ room.topic }}
          {% else %}
            <i class="room-desc-empty">No description is provided</i>
          {% endif %}
        </div>
      </div>
      <div class="room-members-stats">
        <div class="room-members-count">
          {{ room.members_count }}
        </div>
        <div class="room-members-modifier">
          {% if rating %}
            {% if rating == 'absolute' %}
              {{ room.delta|stringformat:"+d" }}
            {% endif %}
            {% if rating == 'relative' %}
              {% if room.members_from == 0 or room.percentage > 300 %}
                New
              {% else %}
                {% if room.percentage > 0 %}+{% else %}-{% endif %}{{ room.percentage|floatformat:"2" }}&#37;
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

  {% endfor %}

  {% if rooms.has_other_pages %}
    <div class="pagination">
      {% if rooms.has_previous %}
        <a href="?page={{ rooms.previous_page_number }}">&laquo;</a>
      {% endif %}

      <a class="active">{{ rooms.number }} / {{ rooms.paginator.num_pages}}</a>

      {% if rooms.has_next %}
        <a href="?page={{ rooms.next_page_number }}">&raquo;</a>
      {% endif %}
    </div>
  {% endif %}

{% endblock content %}
