{% extends 'room_stats/base.html' %}

{% block content %}
  {% for room in rooms %}
    {% url 'room-stats' room_id=room.id as room_url %}
    <div class="room-container {% if room.is_public_readable %}room-public{% endif %}" onclick="document.location='{{ room_url }}'">
      <h1><a href="{% url 'room-stats' room_id=room.id %}">{{ room.name }}</a></h1>
      <div class="room-members-count">
        {{ room.members_count }}
        {% if rating %}
          <br/>
          {% if rating == 'absolute' %}
            {{ room.delta|stringformat:"+d" }}
          {% endif %}
          {% if rating == 'relative' %}
            {{ room.percentage|stringformat:"+d" }}&#37;
          {% endif %}
        {% endif %}
      </div>

      <div class="room-desc">{{ room.topic }}</div>
    </div>

  {% endfor %}

  {% if rooms.has_other_pages %}
    <div class="pagination">
      {% if rooms.has_previous %}
        <a href="?page={{ rooms.previous_page_number }}">&laquo;</a>
      {% endif %}

      <a class="active">{{ rooms.number }} / {{ rooms.paginator.num_pages}}</a>

      {% if rooms.has_next %}
        <a href="?page={{ rooms.next_page_number }}">&raquo;</a>
      {% endif %}
    </div>
  {% endif %}

{% endblock content %}
