DJANGO_SETTINGS_MODULE=matrix_stats.settings.dev

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=

MATRIX_BOT_USERNAME=
MATRIX_BOT_SEED=
MATRIX_BOT_DISPLAYNAME=
MATRIX_BOT_AVATAR_PATH=

APP_STATS_DIR=
APP_MEDIA_DIR=

MATRIX_USERNAME=
MATRIX_PASSWORD=
MATRIX_TOKEN=

RECAPTCHA_SECRET_KEY=
GITTER_API_TOKEN=
RAVEN_DSN=