{% load staticfiles %}

<script src="{% static 'vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'vendor/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/jquery.multiselect.min.js' %}"></script>
<script src="{% static 'vendor/toastr.min.js' %}"></script>
<script src="{% static 'js/category_widget.js' %}"></script>

<link rel="stylesheet" href="{% static 'vendor/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/jquery.multiselect.css' %}">
<link rel="stylesheet" href="{% static 'vendor/jquery-ui.min.css' %}">
