/*
 */
.content-container {
  max-width: 750px;
  margin: auto;
}

a.tag-cloud {
  font-size: 0.8em;
  color: rgb(0, 45, 90);
  text-decoration: none;
}

.content {
  
}

.pagination {
  /* display: inline-block; */
  display: table;
  margin: 20px auto;
}

.pagination a {
  padding: 4px;
  text-decoration: none;
  color: rgb(80,80,80);
}


/*
 *
 * Rooms
 *
 */

.room-container {
  border: 1px grey solid;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(245,245,245);
  border-radius: 2px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.room-title {
  font-size: 16px;
  margin: 0 0 10px 0;
  flex: 1 100%;
  font-weight: bold;
}

a.room-title,
a:visited.room-title{
  text-decoration: none;
  color: rgb(119,119,119);
}

.room-public {
  border-right: 1px grey dashed ;
}

.room-description {
  flex: 1;
}

.room-members-stats {
  padding-left: 10px;
  flex: 0;
  display: flex;
  flex-direction: left;
  flex-wrap: wrap;
}

.room-members-count {
  font-size: 0.8em;
  flex: 1 100%;
  margin-bottom: 5px;
  text-align: right;
}

.room-members-modifier {
  font-size: 0.6em;
  flex: 1 100%;
  text-align: right;
  color: rgb(119,119,119);
}

.room-desc {
  font-size: 0.6em;
}

.room-desc-empty {
  color: rgb(90,90,90);
}



/*
 *
 * Room details page
 *
 */
.room-details-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.room-details-logo {
  width: 128px;
  height: 128px;
  margin: 10px;
}

.room-details-logo > img {
  width: 100%;
  height: 100%;
}

.room-details-main {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 10px;
}


.room-details-header {
  font-size: 30px;
  font-weight: bold;
  flex: 1 1 100%;
}

.room-details-topic {
  flex: 1 1 100%;
  margin-top: 10px;
  font-size: 0.8em;
}

.room-details-topic > p {
  margin: 0;
}

.room-details-topic > p > a {
  color: grey;
}

.room-details-aliases {
  margin-top: 10px;
  font-size: 0.7em;
  font-family: italic;
  color: #808080;
}

.room-details-links {
  flex: 1 1 100%;
  margin: 10px 10px 5px 10px;
  border: 1px grey solid;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.room-details-links > div {
  flex: 1 1 33%;
  text-align: center;
  padding: 10px 0;
}

.room-details-links > div:nth-child(3n-1){
  border-left: 1px grey solid;
  border-right: 1px grey solid;
}

.room-details-buttons {
  margin: 5px 10px 5px 10px;

}

.room-details-buttons > a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: darkblue;
  border: 1px darkblue solid;

}

.room-details-buttons > a:hover {
  color: #4682B4;
  border: 1px #4682B4 solid;
}

/* .room-details-links > div:nth-child(-n+3){ */
/*   border-bottom: 1px grey solid; */
/* } */

/*
 *
 * Room stats
 *
 */

.room-stats-container {
  padding: 15px 25px;
  margin-bottom: 40px;
  background-color: rgb(245,245,245);
  border-radius: 2px;
}

.room-stats-container > h1 {
  /* margin: 15px 0; */
  margin: 0 0 15px 0;
  color: rgb(119,119,119);
  font-size: 20px;
}

.room-topic {
  font-size: 12px;
}

.room-aliases {
  font-family: italic;
  color: #808080;
}


.room-aliases, .room-links {
  font-size: 11px;
  margin-top: 10px;
}

.room-links > a {
  color: grey;
}


/*
 *
 * Utils
 *
 */
.positive {
  color: green;
}

.negative {
  color: red;
}

