/*
 */
.content-container {
  max-width: 700px;
  margin: auto;
}

a.tag-cloud {
  font-size: 0.8em;
  color: rgb(0, 45, 90);
  text-decoration: none;
}

.content {
  
}

.pagination {
  /* display: inline-block; */
  display: table;
  margin: 20px auto;
}

.pagination a {
  padding: 4px;
  text-decoration: none;
  color: rgb(80,80,80);
}


/*
 *
 * Rooms
 *
 */

.room-container {
  border: 1px grey solid;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(245,245,245);
  border-radius: 2px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.room-title {
  font-size: 16px;
  margin: 0 0 10px 0;
  flex: 1 100%;
  font-weight: bold;
}

a.room-title,
a:visited.room-title{
  text-decoration: none;
  color: rgb(119,119,119);
}

.room-public {
  border-right: 1px grey dashed ;
}

.room-description {
  flex: 1;
}

.room-members-stats {
  padding-left: 10px;
  flex: 0;
  display: flex;
  flex-direction: left;
  flex-wrap: wrap;
}

.room-members-count {
  font-size: 0.8em;
  flex: 1 100%;
  margin-bottom: 5px;
  text-align: right;
}

.room-members-modifier {
  font-size: 0.6em;
  flex: 1 100%;
  text-align: right;
  color: rgb(119,119,119);
}

.room-desc {
  font-size: 0.6em;
}

.room-desc-empty {
  color: rgb(90,90,90);
}





/*
 *
 * Room stats
 *
 */

.room-stats-container {
  padding: 15px 25px;
  margin-bottom: 40px;
  background-color: rgb(245,245,245);
  border-radius: 2px;
}

.room-stats-container > h1 {
  /* margin: 15px 0; */
  margin: 0 0 15px 0;
  color: rgb(119,119,119);
  font-size: 20px;
}

.room-topic {
  font-size: 12px;
}

.room-aliases {
  font-family: italic;
  color: #808080;
}


.room-aliases, .room-links {
  font-size: 11px;
  margin-top: 10px;
}

.room-links > a {
  color: grey;
}



